body {
    background-color:rgb(255, 234, 238);
}
html {
    margin-left: 20%;
    margin-right: 20%;
    margin-top:2%;
    margin-bottom:5%;
    font-family: "deuterium-variable", sans-serif;
    font-variation-settings: "wght" 200;
    line-height: 20pt;
    font-size:small;
}

.subtitle {
    line-height: 7pt;
    margin-bottom: 5rem;
}

h1 {
    color: rgb(46, 30, 30);
    text-transform: lowercase;
    font-size:35pt;
    line-height:30pt;
    font-family: "roca", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0.5px;
}

h3 {
    color:rgb(46, 30, 30);
    text-transform: lowercase;
    font-size:18pt;
    font-family: "roca", sans-serif;
    font-weight: 400;
    font-style: normal;

}

h4 {
    color:rgb(46, 30, 30);
    text-transform: lowercase;
    font-size:12pt;
    font-family: "roca", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1rem;
}

footer {
    text-align:center;
    padding:15px;
}

.footer-divider {
    border:none;
    border-top: 3px dotted rgb(46, 30, 30);
    margin-bottom: 5%;
}

.footer {
    font-size: 0.9em;
    color:rgb(46, 30, 30);
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 16px;
}

.images h3 {
    grid-column: 1 / -1;
}

.images img {
    width: 250px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
}